/* Coolors Exported Palette - https://coolors.co/5a584d-2a89c5-b7c2cc-000000-de822b-dd9652-e58225-000000-984f05-e6862d */

/* CSS HEX */
--stone-brown: #5A584Dff;
--ocean-blue: #2A89C5ff;
--pale-slate: #B7C2CCff;
--black: #000000ff;
--bronze: #DE822Bff;
--golden-apricot: #DD9652ff;
--tiger-orange: #E58225ff;
--black-2: #000000ff;
--chocolate-brown: #984F05ff;
--tiger-orange-2: #E6862Dff;

/* CSS HSL */
--stone-brown: hsla(51, 8%, 33%, 1);
--ocean-blue: hsla(203, 65%, 47%, 1);
--pale-slate: hsla(209, 17%, 76%, 1);
--black: hsla(0, 0%, 0%, 1);
--bronze: hsla(29, 73%, 52%, 1);
--golden-apricot: hsla(29, 67%, 59%, 1);
--tiger-orange: hsla(29, 79%, 52%, 1);
--black-2: hsla(0, 0%, 0%, 1);
--chocolate-brown: hsla(30, 94%, 31%, 1);
--tiger-orange-2: hsla(29, 79%, 54%, 1);

/* SCSS HEX */
$stone-brown: #5A584Dff;
$ocean-blue: #2A89C5ff;
$pale-slate: #B7C2CCff;
$black: #000000ff;
$bronze: #DE822Bff;
$golden-apricot: #DD9652ff;
$tiger-orange: #E58225ff;
$black-2: #000000ff;
$chocolate-brown: #984F05ff;
$tiger-orange-2: #E6862Dff;

/* SCSS HSL */
$stone-brown: hsla(51, 8%, 33%, 1);
$ocean-blue: hsla(203, 65%, 47%, 1);
$pale-slate: hsla(209, 17%, 76%, 1);
$black: hsla(0, 0%, 0%, 1);
$bronze: hsla(29, 73%, 52%, 1);
$golden-apricot: hsla(29, 67%, 59%, 1);
$tiger-orange: hsla(29, 79%, 52%, 1);
$black-2: hsla(0, 0%, 0%, 1);
$chocolate-brown: hsla(30, 94%, 31%, 1);
$tiger-orange-2: hsla(29, 79%, 54%, 1);

/* SCSS RGB */
$stone-brown: rgba(90, 88, 77, 1);
$ocean-blue: rgba(42, 137, 197, 1);
$pale-slate: rgba(183, 194, 204, 1);
$black: rgba(0, 0, 0, 1);
$bronze: rgba(222, 130, 43, 1);
$golden-apricot: rgba(221, 150, 82, 1);
$tiger-orange: rgba(229, 130, 37, 1);
$black-2: rgba(0, 0, 0, 1);
$chocolate-brown: rgba(152, 79, 5, 1);
$tiger-orange-2: rgba(230, 134, 45, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5A584Dff, #2A89C5ff, #B7C2CCff, #000000ff, #DE822Bff, #DD9652ff, #E58225ff, #000000ff, #984F05ff, #E6862Dff);
$gradient-right: linear-gradient(90deg, #5A584Dff, #2A89C5ff, #B7C2CCff, #000000ff, #DE822Bff, #DD9652ff, #E58225ff, #000000ff, #984F05ff, #E6862Dff);
$gradient-bottom: linear-gradient(180deg, #5A584Dff, #2A89C5ff, #B7C2CCff, #000000ff, #DE822Bff, #DD9652ff, #E58225ff, #000000ff, #984F05ff, #E6862Dff);
$gradient-left: linear-gradient(270deg, #5A584Dff, #2A89C5ff, #B7C2CCff, #000000ff, #DE822Bff, #DD9652ff, #E58225ff, #000000ff, #984F05ff, #E6862Dff);
$gradient-top-right: linear-gradient(45deg, #5A584Dff, #2A89C5ff, #B7C2CCff, #000000ff, #DE822Bff, #DD9652ff, #E58225ff, #000000ff, #984F05ff, #E6862Dff);
$gradient-bottom-right: linear-gradient(135deg, #5A584Dff, #2A89C5ff, #B7C2CCff, #000000ff, #DE822Bff, #DD9652ff, #E58225ff, #000000ff, #984F05ff, #E6862Dff);
$gradient-top-left: linear-gradient(225deg, #5A584Dff, #2A89C5ff, #B7C2CCff, #000000ff, #DE822Bff, #DD9652ff, #E58225ff, #000000ff, #984F05ff, #E6862Dff);
$gradient-bottom-left: linear-gradient(315deg, #5A584Dff, #2A89C5ff, #B7C2CCff, #000000ff, #DE822Bff, #DD9652ff, #E58225ff, #000000ff, #984F05ff, #E6862Dff);
$gradient-radial: radial-gradient(#5A584Dff, #2A89C5ff, #B7C2CCff, #000000ff, #DE822Bff, #DD9652ff, #E58225ff, #000000ff, #984F05ff, #E6862Dff);